<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Google_Hosts_更新器.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Hosts_更新器.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Google_Hosts_更新器.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Hosts_更新器.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Google_Hosts_更新器.Properties.Settings>
            <setting name="CheckBox_BootChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComboBox_AutoUpdateInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HostsPath" serializeAs="String">
                <value>C:\Windows\System32\drivers\etc\hosts</value>
            </setting>
            <setting name="LocalHostsDate" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="NetworkHostsDate" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="UpdateDate" serializeAs="String">
                <value>-</value>
            </setting>
        </Google_Hosts_更新器.Properties.Settings>
        <Hosts_更新器.Properties.Settings>
            <setting name="CheckBox_BootChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComboBox_AutoUpdateInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HostsPath" serializeAs="String">
                <value>C:\Windows\System32\drivers\etc\hosts</value>
            </setting>
            <setting name="LocalHostsDate" serializeAs="String">
                <value>－</value>
            </setting>
            <setting name="NetworkHostsDate" serializeAs="String">
                <value>－</value>
            </setting>
            <setting name="UpdateDate" serializeAs="String">
                <value>－</value>
            </setting>
        </Hosts_更新器.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Google_Hosts_更新器.Properties.Settings>
            <setting name="NetworkAdd" serializeAs="String">
                <value>https://raw.githubusercontent.com/racaljk/hosts/master/hosts</value>
            </setting>
            <setting name="BackPath" serializeAs="String">
                <value>C:\Users\Administrator\Documents\hosts_</value>
            </setting>
        </Google_Hosts_更新器.Properties.Settings>
        <Hosts_更新器.Properties.Settings>
            <setting name="NetworkAdd" serializeAs="String">
                <value>https://raw.githubusercontent.com/racaljk/hosts/master/hosts</value>
            </setting>
            <setting name="BackPath" serializeAs="String">
                <value>C:\Users\Administrator\Documents\hosts_</value>
            </setting>
        </Hosts_更新器.Properties.Settings>
    </applicationSettings>
</configuration>
